@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
button {
  @apply outline-none;
  &:not(.customBtn) {
    @apply border-none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
}

body {
  @apply m-0 text-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// antd override
.ant-slider-rail {
  background-color: #00000029 !important;
}
.ant-slider {
  @apply my-[5px] mx-0;
}
.ant-slider-handle,
.ant-slider-track {
  @apply transition-all duration-300 ease-linear;
}
.ant-message-notice-content {
  border:1px solid  #202020 !important;
}
$rgb: "red", "green", "blue";
@each $color in $rgb {
  .clrSlider.#{$color} {
    .ant-slider-handle {
      &::after {
        box-shadow: 0 0 0 3px #{$color} !important;
      }
    }
  }
}
// antd override


.btnWrapper {
  .recentClrBtn {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.05, 1.3);
      border-radius: 4px;
      width: 100%;
      height: 100%;
      border: 1px solid #d6d6d6;
      box-shadow: 0 4px 10px rgba(213, 213, 213, 0.1);
      transition: all 0.3s ease;
    }
    &:hover {
      &::before {
        border-color: #202020;
        box-shadow: 0 3px 10px rgba(80, 80, 80, 0.2);
      }
    }
  }
}
// recent colors
.customBtn {
  @apply bg-black text-white p-[0_12px] rounded outline-none border border-black leading-7 select-none text-[13px] transition-all duration-300 ease-in-out capitalize;
  &._icon {
    @apply p-0 w-[28px] h-[28px] inline-flex items-center justify-center;
  }
  &:hover {
    @apply bg-opacity-0 shadow-[0px_4px_10px_rgba(80,80,80,0.2)] text-black;
  }
  &:active {
    @apply scale-95;
  }
  &.smallBtn {
    @apply p-[0_8px] text-[12px] leading-5;
  }
}

@media screen and (max-width: 700px) {
  h4.heading {
    font-size: 18px !important;
  }
  button.seeAll {
    @apply text-xl;
  }
}

// fullscreen
.fullscreen-enabled:has(.paletteDiv-main) {
  .paletteDiv-main {
    @apply p-[10px] min-h-screen;
  }
  .paletteDiv {
    @apply h-[unset] w-[unset] aspect-square;
  }
}
.full-screenbutton {
  @apply w-[30px] h-[30px] text-[20px] grid place-items-center bg-opacity-0;
}
// fullscreen

// toast
.custom_toast {
  @apply border-2 border-[#c4dfdf] rounded-[10px] shadow-lg;
  box-shadow: 0 4px 10px rgba(80, 80, 80, 0.2),
    inset 0 4px 10px rgba(80, 80, 80, 0.2) !important;
  > div {
    @apply m-0 font-semibold bg-opacity-0 ;
  }
}
// toast
