@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
button {
  outline: none !important;
  &:not(.customBtn) {
    border: none !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
// antd override
.ant-slider-rail {
  background: #00000029 !important;
}
.ant-slider {
  margin: 5px 0;
}
.ant-slider-handle,
.ant-slider-track {
  transition: all 0.03s linear !important;
}
.ant-message-notice-content {
  border: 1px solid #202020 !important;
}
$rgb: "red", "green", "blue";
@each $color in $rgb {
  .clrSlider.#{$color} {
    .ant-slider-handle {
      &::after {
        box-shadow: 0 0 0 3px #{$color} !important;
      }
    }
  }
}
// antd override


.btnWrapper {
  .recentClrBtn {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(1.05, 1.3);
      border-radius: 4px;
      width: 100%;
      height: 100%;
      border: 1px solid #d6d6d6;
      box-shadow: 0 4px 10px rgba(80, 80, 80, 0.2);
      transition: all 0.3s ease;
    }
    &:hover {
      &::before {
        border-color: #202020;
        box-shadow: 0 3px 10px rgba(80, 80, 80, 0.5);
      }
    }
  }
}
// recent colors
.customBtn {
  background: #202020;
  color: white;
  padding: 0 12px;
  margin: 2px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #202020;
  line-height: 28px;
  user-select: none;
  font-size: 13px !important;
  transition: all 0.3s ease;
  text-transform: capitalize;
  &._icon {
    padding: 0;
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    background: none;
    color: #202020;
    box-shadow: 0 4px 4px rgba(80, 80, 80, 0.2);
  }
  &:active {
    transform: scale(0.95);
  }
  &.smallBtn {
    padding: 0 8px;
    font-size: 12px !important;
    line-height: 20px;
  }
}
.picker-body {
  .customBtn {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  h4.heading {
    font-size: 18px;
  }
  button.seeAll {
    font-size: 12px;
  }
}

// fullscreen
.fullscreen-enabled:has(.paletteDiv-main) {
  .paletteDiv-main {
    min-height: 100vh;
    padding: 10px !important;
  }
  .paletteDiv {
    height: unset;
    width: unset;
    aspect-ratio: 1/1;
  }
}
.full-screenbutton {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background: none;
  font-size: 20px;
}
// fullscreen

// toast
.custom_toast {
  @apply border-2 border-[#c4dfdf] shadow-lg rounded-[10px];
  box-shadow: 0 4px 10px rgba(80, 80, 80, 0.2),
    inset 0 4px 10px rgba(80, 80, 80, 0.2) !important;
  > div {
    @apply m-0 font-semibold bg-none ;
  }
}
// toast
